body{
    display: flex;
    align-items: center;
    background-image: url("gm.jpeg");
    
}
form{
    background-color: rgba(213, 243, 243,0.5);
    width: 450px;
    height: 250px;
    margin-top: 250px;
    margin-left: 750px;
}
input{
    position: relative;
    left: 100px;
    top:50px;
}

.form-group span{
    position:relative;
    top:70px;
    font-size:12px;
    right:115px;
    visibility:hidden;
    }
    .form-group.invalid span{
    color:red;
    visibility:visible;
    }
button{
    position: relative;
    top:60px;
    left: 160px;
    }
